body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.flex{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.logo{
    width: 70px;
    display: flex;
}
.logo-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.companyname,.companyname1{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: rgb(236, 234, 234);
}
.top-flex{
    display: flex;
    flex-direction: row;
    background-color: black;  
    margin-bottom: 10px;  
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    
}
.bottom-flex{
    color: red;
    margin-top: 80px;
    display: flex;
   
    margin-left: 10%;
    margin-right: 10%;
    
}
.top-left{
    flex: 1;
    display: flex;
    
    
}
.top-right{
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: right;
    align-items: center;
}
.majorprojects{
    margin-right: 40px;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}
a:hover{
    color:red
}
.bottom-left{
    flex: 1;
  
}
.bottom-right{
    flex: 1;
    
}
.heading{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.sub-heading{
    color:rgb(167, 166, 166);
    font-size: 20px;
    margin-bottom: 20px;
}
.btn-contact{
    text-decoration: none;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    border-radius: 6px;
    border-style: solid;
    margin-left: 0px;
    margin-top: 20px;
    background-image: linear-gradient(to right,#ED3F7B, #9344D5);
    transition: opacity 0.7s;
}
.btn-contact:hover{
    background-image: linear-gradient(to right,#9344D5,#ED3F7B );
    opacity: 0.8;
}
.acontact{
    text-decoration: none;
    color: white;
    margin-left: 0px;
    border-radius: 6px;
}
.call,.email{
    color:white;
    font-size: 17px;
    margin-bottom: 0px;
    margin-top: 20px;
}
.unhide{
    display: none;
}
.homeimg{
    width: 500px;
    margin-top: 42px;
    margin-left: 20px;
}
.home{
    color: red;
}
