body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.flex{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.logo{
    width: 70px;
    display: flex;
}
.logo-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.companyname,.companyname1{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: rgb(236, 234, 234);
}
.top-flex{
    display: flex;
    flex-direction: row;
    background-color: black;
     
    margin-bottom: 10px;  
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    
}
.bottom-flex{
    color: red;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
.top-left{
    flex: 1;
    display: flex;
    
    
}
.top-right{
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: right;
    align-items: center;
}
.majorprojects{
    margin-right: 40px;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}
.ahome{
    text-decoration: none;
    margin-left: 0px;
}
.services{
    color: red;
}
a:hover{
    color: red;
}
.heading{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.insideheading{
    display: flex;
    margin-left: 24px;
    flex-direction: column;

}
.sub-heading{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.one{
   color: rgb(167, 166, 166);
   margin-bottom: 20px;
}
.two{
    color: rgb(167, 166, 166);
   margin-bottom: 6px;
}
.heading-1{
    margin-left: 10px;
    margin-bottom: 4px;
    font-size: 17px;
}
li{
    font-size: 17px;
    margin-left: 14px;
}
.listinside{
    margin-left: 28px;
    list-style-type:circle;
}